.venv/
config.py
credentials.json
start_bot.sh
users_data.csv
myenv3.9/
env_aiogram3/
aio3/
myvenv3.9/
__pycache__/
*.pyc
*.pyo
*.tmp
.DS_Store
mongodb/
mongodb_data/
mongodb/journal/
mongodb/diagnostic.data/
*.log
*.service
telegram_mcr24_bot.service
'udo journalctl -u telegram_mcr24_bot.service -e'
animations_providers.py
udo systemctl status mongod/
udo journalctl -p err/
images.py
subsidies/
VOLS/
mytable.png
*.xlsx
/myvenv3.11.9/*
/otpusk/*
/VOLS/*
.vscode/
.idea/
data_sources/credentials.json
*.ipynb
*.json
*.csv
bot.log
database/db_config.py