ExecStart=/home/support/telegram_mcr24_bot/myenv3.9/bin/python3 /home/support/telegram_mcr24_bot/main.py


  GNU nano 4.8                                                                          telegram_mcr24_bot.service                                                             
[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
User=support
WorkingDirectory=/home/support/telegram_mcr24_bot
ExecStart=/home/support/telegram_mcr24_bot/myvenv3.9/bin/python /home/support/telegram_mcr24_bot/main.py

Restart=on-failure

[Install]
WantedBy=multi-user.target
